<% provide(:title, "fiche de #{@user.login}") %>
<h1 class="titre1">Profile: </h1>

<div class="ligne">
	
	<div class="row">
	  <aside class="span4">
	    <section>
	      <h2 style="margin-bottom: 60px;">
	        <%= gravatar_for @user %>
	          <div>
		      	<b><%= link_to current_user.full_name, current_user %></b>
		      	<%= link_to show_username, current_user %>
		      </div>
	      </h2>
	    </section>
	    <section style="width: 360px;">
	    	<div class="ligne3">
	    		<p><h3><%= current_user.posts.count %></h3>MESSAGES |</p> 
	    		<p><h3 id="followers"><%= @user.followers.count %></h3>ABONNEMENTS |</p> 
	    		<p><h3 id="following"><%= @user.followed_users.count %></h3>ABONNES</p>
			</div>
	    </section>
	    <section style="width: 360px;"></section>
	  </aside>
	</div>
	
	<div>
		<section>
		  <p>
	        <b>Address:</b>
	      	<%= @user.address %>
	      </p>
		  <p>
		     <b>Latitude:</b>
		     <%= @user.latitude %>
		  </p>
	      <p>
	       <b>Longitude:</b>
	       <%= @user.longitude %>
	      </p>
	
     	 <div id="id="idmap">
     	 	<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@user.latitude}%2C#{@user.longitude}" %>
    	 </div>
    	</section></div>
	</div>

<div align="center" style="margin-top: 30px;">
	<%= link_to 'Modifier', edit_user_path(@user) %> |
	<%= link_to 'Liste des utilisateurs', users_path %>
</div>