<% provide(:title, "Sign_in") %>
<h1 class="titre">Authentification</h1>

<div class="contenu">

    <%= form_tag  :controller => 'authentification', :action => 'sign_in' do %>
        <table>

          <tr>
            <td><%= label_tag "Login: " %></td>
            <td><%= text_field :user,:login, :class=>"txt" %></td>
          </tr>
          <tr>
            <td><%= label_tag "Mot de passe: " %></td>
            <td><%= password_field :user, :password, :class=>"txt" %></td>
          </tr>
          <tr>
            <td><%= submit_tag "Se connecter", :class=>"btn btn-large btn-primary"%></td>
          </tr>
        </table>
    <% end %>

  <p>Vous n'avez pas de compte? <%= link_to "Créer votre compte", sign_up_path %></p>
</div>
