<!-- # encoding: utf-8 -->

<div id="header">
  <header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "My Test app logo", '#', id: "logo" %>
        <nav>
          <ul class="nav pull-right">
            <li><%= link_to "Accueil",    root_url %></li>
            <li><%= link_to "Aide",    '/help' %></li>
            <li><%= link_to "Créer mon compte", '/sign_up' %></li>

            <% if current_username != nil %>
                <li><%= link_to "Voir mon profil", current_user %></li>
                <li><%= link_to "Liste messages", posts_path %></li>
                <li><%= link_to "Déconnexion", sign_out_path, method: "delete" %></li>
            <% else %>
                <li><%= link_to "Connexion", '/sign_in' %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <div align="right" style="margin-right: 30px;">
    <% if current_username != nil %>
        Vous êtes connecté en tant que: <%= current_username %>
    <% else %>
        Vous n'êtes pas connecté
    <% end %>
  </div>

</div>